$primary-color-dark:   rgb(2, 209, 64);
$primary-color:        rgb(196, 240, 94);
$primary-color-light:  rgb(179, 252, 246);
$primary-color-text:   #FFFFFF;
$accent-color:         rgb(94, 223, 174);
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        rgb(153, 237, 248);

$font1: serif;
$font2: sans-serif;